@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap');

@font-face{
    font-family: 'raleway';
    src: url('../fontes/Raleway_font/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'lato';
    src: url('../fontes/Lato_font/Lato-Bold.ttf') format('truetype');
}
