@import 'variables.css';

.img-g {
  background-position: top top;
}

nav {
  justify-content: space-between;
  align-items: center;
}

.nav-title{
    font-size: 0.8rem;
}

.menu-icon {
  display: flex;
  font-size: 1.1rem;
  color: white;
  text-align: right;
}

.nav-links {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  height: 100dvh;
  background-color: rgba(47, 52, 54, 0.8); /* Cor de fundo com transparência */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); /* Adiciona um efeito de desfoque de fundo */
  padding: 80px 20px; /* Espaçamento interno */
  font-size: 1.1em;
  gap: 30px; /* Espaçamento entre os itens do menu */
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.active {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2f3436d7;
  top: 100%;
  right: 0;
  height: 100dvh;
  width: 100%;
  padding: 100px;
  font-size: 1.1em;
  gap: 50px;
  transform: translateX(0);
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  transition: color 0.3s ease;
  border-bottom: 1px solid aliceblue;
}

.nav-links a:hover,
.nav-links a:focus {
  font-style: oblique;
  color: rgb(236, 233, 214);
}

.img-g {
  align-items: center;
  height: 400px;
}

.about-item {
  flex-direction: column;
}

.about-item h1{
  font-size: 2em;
  width: 100%;
  margin: 20px 0 20px 0px;
}

.about-text{
  font-size: 1.1em;
  line-height: 1.3em;
  max-width: 100%;
}

.facil-item {
  width: 100px; /* Reduzi o tamanho dos itens para melhor ajuste */
}

.facil-item i {
  font-size: 2.5rem;
}

.facil-item i:hover {
  font-size: 3rem;
}

.rooms {
  flex-direction: column;
  gap: 10px;
}

.rooms label,
.rooms h2 {
  text-align: center;
  font-size: 1.5em;
}

.rooms input[type="date"]::-moz-placeholder {
  content: "dd/mm/aaaa";
}

.rooms label,
.rooms select,
.rooms input[type="date"],
.rooms input[type="submit"] {
  flex: auto;
  width: 300px;
}

section.location{
  position: relative;
  gap: 30px;
  text-align: justify;
  font-weight: normal;
  flex-flow: column;
}


.location-text{ 
  width: 100%;
}

.location-text h2{
  font-size: 1.5em;
}

.location-text p{
  font-size: 1.1rem;
  text-align: justify;
  width: 100%;
}

.map{
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

iframe{
  position: absolute;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.reserve-title-div h3{
  font-size: 1rem;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.reserve-title-div a {
  color:  rgba(0, 0, 0, 0.836);
  transition: all 0.5s ease;
}

.reserve-title-div h3 a:hover {
  color: var(--emphasis);
  transition: all 0.5s ease;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.footer-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  padding: 10px;
}

.footer-logo img{
  display: flex;
  align-self: center;
  justify-self: center;
}

.footer-contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.social-media {
  justify-content: center;
}