@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap');



@font-face{
    font-family: 'raleway';
    src: url('../fontes/Raleway_font/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'lato';
    src: url('../fontes/Lato_font/Lato-Bold.ttf') format('truetype');
}

/*  Inútil  */
:root {

    /*Cores*/

    --cor-1: #302520;
    --cor-2: #6a7791;
    --cor-3: #514c53;
    --cor-4: #8f8da0;
    --cor-5: #c68863;
    --cor-6: #5e6376;
    --cor-7: #4a342c;
    --cor-8: #607b99;
    --cor-9: #89573f;
    --cor-10: #2e3b42;

    --mont : 'Montserrat', sans-serif;
    --raleway: 'raleway', sans-serif;
    --lato: 'lato', sans-serif;
    --pops: 'Poppins', sans-serif;
    --well: 'Playfair Display', serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: var(--lato);

}

header {
    width: 100%;
    background-image: linear-gradient(90deg, #c68863, #db7c7c);
    position: absolute;
    background-size: 300% 300%;
    color: #e2e2e2;
    top: 0;
    left: 0;
    font-family: var(--mont);
    box-shadow: 5px 0px 4px rgba(201, 201, 201, 0.865);
    z-index: 1;
    animation: bg-color 5s ease infinite;

}

@keyframes bg-color {
    0%{
        background-position: 50% 0%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 50% 0%;
    }
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-title{
    font-family: sans-serif;
    font-size: 1em;
}

.nav-links {
    display: flex;
    gap: 15px;
    font-size: 1.15rem;
    flex-flow: row;
    opacity: 1;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}


.active {
    opacity: 1;
 
}

.menu-icon {
    display: none;
    cursor: pointer; 
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    transition: text-shadow .5s ease;
}

.menu-icon:hover{
    text-shadow: 2px 2px rgba(49, 48, 48, 0.342);
    transition: all .4s ease;
}

a {
    color: #e2e2e2;
    text-decoration: none;
    transition: all ease;
}

a:hover{
    color: #c8c7d6;
    text-decoration: underline 1.5px #c9ac91;

}

.img-g {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    background-image: url('../imagens/inicial-photo-new.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0px -10px 5px rgba(0, 0, 0, 0.13);
}

.img-g > .slogan {
    font-family: var(--pops);
    color: rgb(255, 255, 255);
    text-shadow: 2px -2px rgba(95, 95, 95, 0.267);
    padding: 30px;
    background-color: rgba(133, 133, 133, 0.658);
    
}

section#reserve{
    background-color: #1c1c1c;
}

.rooms{
    max-width: 100%;
    background-color: #2f3436ef;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
}

.rooms label, .rooms h2{
    color: white;
    text-align: center;
}


.rooms div{
    display: flex;
    flex-direction: column;
}

.rooms label, .rooms select, .rooms input{
    flex: auto;
}

section, .about {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

}

.about-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.about-item:nth-child(even) {
    flex-direction: column-reverse;
}

.about-text h1, .facilities h2{
    color: #2f3436;
}

.about-text, .reserve-title-div {
    font-family: var(--pops);
    max-width: 600px;
    padding: 10px;
    font-size: 1.3em;
}

.about-img {
    max-width: 600px;
    height: auto;
    padding: 10px;
}

.about-img img {
    flex: auto;
    width: 100%;
    max-height: 560px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 2px 4px rgba(30, 30, 32, 0.288);
}

.facilities{
    margin-top: 100px;
    margin-bottom: 70px;
}

.facilities h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 80px;
}

.facil-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.facil-item{
    text-align: center;
    width: 150px;
}

.facil-item i{
    display: block;
    font-size: 3rem;
    color: var(--cor-5);
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.facil-item i:hover{
    font-size: 3.5rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: #ef9f70;
    transition: all 0.5s ease;
}

.facil-item h4, .facil-item p{
    font-size: 1rem;
    color: #555;
}



.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate.visible {
    opacity: 1;
    transform: translateY(1);
}



.location {
    background-color: #4a342c;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.location div {
    flex: auto;
}

.location-text h2 {
    color: var(--cor-9);
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
}

.location-text p {
    font-family: var(--pops);
    color: white;
    text-align: justify;
    font-size: 1.2em;
    padding: 10px;
}

.responsive-iframe {
    width: 100%;
    border-radius: 5px;
    height: 400px;
}

section#contato{
    width: 100%;
    padding: 20px;
    background-color: #c8c7d6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.alert {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
}

.alert p {
    margin: 0;
}

form{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 5px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.178);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

fieldset{
    display: flex;
    flex-flow: row wrap;
    border: none;
    padding: 5px;
    width: 100%;
}


.form-item{
    flex: 1 1 calc(50% - 40px);
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

label{
    color: rgb(34, 34, 34);
    margin-bottom: 5px;
}

input, input[type="email"], input[type="tel"],input[type="date"],input[type="number"], textarea, select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;

}


input[type="submit"]{
    background-color: var(--cor-5);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1em;
    padding: 10px 15px;
    margin-top: 15px;
    align-self: flex-end;
    cursor: pointer;
}

footer {
    padding: 30px;
    background-color: #1c1c1c;
    color: rgb(193, 194, 195);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* Footer Item Styles */
.footer-item {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 20px;
    flex: 1;
    min-width: 200px;
}

/* Logo and Contact Section */
.footer-logo img {
    display: flex;
    width: 165px;
    margin: 30px;
}

.footer-logo h2 {
    margin: 0;
    color: white;
    text-align: center;
}

.tagline {
    color: #a0522d;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
}

.footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-contact h3 {
    margin-bottom: 10px;
    color: white;
}

.footer-contact ul li {
    margin-bottom: 5px;
}

.footer-contact ul li i {
    margin-right: 8px;
    color: #a0522d;
}

.operating-hours {
    margin-top: 10px;
    font-size: 14px;
    color: #a0522d;
}

.operating-hours i {
    margin-right: 5px;
}

/* Social Media Links */
.social-media {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.social-media li {
    list-style: none;
}

.social-media a {
    color: rgb(193, 194, 195);
    font-size: 24px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #a0522d; /* Hover color */
}

/* Newsletter Signup and Special Offers */
.newsletter-signup, .special-offers {
    display: block;
    color: #a0522d;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

.newsletter-signup:hover, .special-offers:hover {
    text-decoration: underline;
}

/* Attribution */
footer small {
    color: rgb(193, 194, 195);
    justify-self: center;
    align-self: flex-end;
    text-align: center;
    width: 100%;
}

footer small a {
    color: #a0522d;
    text-decoration: none;
}

footer small a:hover {
    text-decoration: underline;
}

/* Media Queries - Tablets */
@media (min-width: 768px) and (max-width: 1024px){
    
    .nav-links {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        opacity: 1;
        
    }

    .menu-icon {
        display: none; /* Esconder o ícone do menu em tablets */
    }

    .img-g {
        align-items: center;
        height: 500px;
        font-size: 1.2em;
    }

    .about-item {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .about-text, .reserve-title-div {
        font-size: 1.2em;
        max-width: 50%;
    }

    .rooms {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .rooms div, .rooms label, .rooms h2 {
        text-align: center;
        font-size: 1.1em;
        flex: auto;
    }

    .rooms select, .rooms input[type="date"], .rooms input[type="submit"] {
        width: 100%; /* Aumentar a largura dos inputs no tablet */
    }

    .location-text h2, .facilities h2{
        font-size: 1.5em;
    }

    .location-text p {
        font-size: 1.1em;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .footer-item {
        flex: 1 1 45%;
        text-align: left;
    }

    .social-media {
        justify-content: flex-start;
    }
}

/* Media Queries - Dispositivos móveis */
@media (max-width: 767px) {

    .img-g{
        background-position: top top;
    }

    nav {
        justify-content: space-between;
        align-items: center;

    }

    .menu-icon {
        display: flex;
        font-size: 2em;
        color: white;
        text-align: right;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        top: 0;
        right: -100%; /* Posicionado fora da tela inicialmente */
        height: 100dvh;
        background-color: rgba(47, 52, 54, 0.8); /* Cor de fundo com transparência */
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px); /* Adiciona um efeito de desfoque de fundo */
        padding: 80px 20px; /* Espaçamento interno */
        font-size: 1.1em;
        gap: 30px; /* Espaçamento entre os itens do menu */
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
        transform: translateX(100%); /* Move o menu para fora da tela à direita */

    }
    
    .active{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #2f34365c;
        top: 100%;
        right: 0;
        height: 100dvh;
        width: 100%;
        padding: 100px;
        font-size: 1.1em;
        gap: 50px;
        transform: translateX(0);

    }


    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-style: normal;
        transition: color 0.3s ease;
    }
    
    .nav-links a:hover, .nav-links a:focus{
        font-style: oblique;
        color: rgb(236, 233, 214); 

    }
    

    .img-g {
        align-items: center;
        height: 400px;
    }

    .about-item {
        flex-direction: column;
    }

    .about-text, .reserve-title-div {
        font-size: 1em;
        max-width: 100%;
    }

    .facil-item {
        width: 100px; /* Reduzi o tamanho dos itens para melhor ajuste */
    }

    .facil-item i {
        font-size: 2.5rem;
    }

    .facil-item i:hover {
        font-size: 3rem;
    }

    .rooms {
        flex-direction: column;
        gap: 10px;
    }

    .rooms label, .rooms h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .rooms input[type="date"]::-moz-placeholder{
        content: 'dd/mm/aaaa';
    }

    .rooms label, .rooms select, .rooms input[type="date"], .rooms input[type="submit"] {
        flex: auto;
        width: 300px;
    }

    .location-text h2 {
        font-size: 1.5em;
    }

    .location-text p {
        font-size: 1em;
    }

    footer {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-item{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .footer-contact{
        text-align: center;
    }

    .social-media {
        justify-content: center;
    }
}